/**
 *
 * Basic layout style for all the windows that do have a frame
 *
**/

:root {
    --window-safearea: 16px;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: orange;
    overflow: hidden;
}

.app--safearea {
    width: calc(100% - 2 * var(--window-safearea));
    height: calc(100% - 2 * var(--window-safearea));
    margin: var(--window-safearea) auto;
    background-color: lightgreen;
    display: flex;
    position: relative;
}