/**
 *
 * Basic layout style for the splash screen
 *
**/

html,
body,
.splash--background {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.splash--background {
    position: fixed;
    top: 0px;
    z-index: -1;
}

.splash--container {
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.splash--title {
    font-size: 10vw;
    font-weight: bolder;
}

.splash--version {
    font-size: 5vw;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.app--safearea {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.app--titlebar {
    display: none;
}